.home {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 90%;
    grid-template-areas: "navWall" "wall";
    background-color: #F1EFEF;
}

.navWall{
    grid-area: navWall;
    background-color: #5f00ff;
}

.logoWall{
    position: relative;
    width: 0%;
}

.containerWall{
    grid-area: wall;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.containerPost {
    /* width: 90%;
    height: 50%; */
    width: 80%;
    display: grid;
    gap: 4%;
    background: white;
    border-radius: 20px;
    font-family: "Telex", sans-serif;
    padding: 3%;
    box-shadow: 1px 1px 1px grey;
    position: relative;
    margin: 5%;
}

.tillePost{
    font-family: "Telex", sans-serif;
    font-size: 150%;
    color: #4bc3fe;
}

.postWrite{
    width: 100%;
    border: 0;
    outline: none;
    text-decoration: none;
    border: solid 1px rgb(201, 200, 200);
    padding: 10px;
}

.postWrite:focus {
    border-color:#5f00ff;
}

.btnShare {
    background: #ffb624;
    color: #ffffff;
    width: 20%;
    height: 140%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 1px grey;
}
.containerShowPost{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerPost-Each{
    width: 80%;
    display: grid;
    gap: 4%;
    background: white;
    border-radius: 20px;
    font-family: "Telex", sans-serif;
    padding: 3%;
    box-shadow: 1px 1px 1px grey;
    position: relative;
}

.btnLogOut{
    margin-top:2%;
    background: #5f00ff;
    color: #ffffff;
    width: 20%;
    height: 50%;
    border-radius:  8px  0px  0px 8px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 1px grey;
}

@media only screen and (min-width: 769px){
    .home {
        height: 100vh;
        margin: 0px;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 10% 90%;
        grid-template-areas: "navWall head" "navWall wall";
        background-color: #F1EFEF;
    }
    .headWall{
        grid-area: head;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .navWall{
        grid-area: navWall;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(180deg, #5f00ff 0%, #4cb7eb 100%);
        border-radius: 0px 20px 20px 0px;
    }
    .logoWall{
        width: 80%;
    }
    .containerWall{
        grid-area: wall;
    }
    #loginHome{
        margin: 3%;
        font-family: "Telex", sans-serif;
        font-size: 0.9em;
    }
}