* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  background: linear-gradient(180deg, #5f00ff 0%, #4cb7eb 100%);
  /* z-index: 1; */
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "logo logo" "tabs space";
}

.logo {
  grid-area: logo;
  position: relative;
  width: 7em;
  left: 40%;
}
.tabs{
  grid-area: tabs;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "tab";
}
.info{
  /* grid-area: info; */
  display: none;
  width: 0%;
  height: 0%;
}
.tabsLogSign{
  grid-area: tab;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tabsMessage{
  font-size: 1em;
  font-family: "Telex", sans-serif;
  color: white;
  transform: rotate(-270deg);
}

/* Contenedor de LogIn y SignUp */
.containerSignUpLogIn {
  grid-area: space;
  width: 100%;
  height: 100%;
  padding: 8%;
  background: #ffffff;
  border-radius: 40px 0px 0px 0px;
  /* z-index: 2; */
}
#login{
  font-size: 100%;
}
.logIn {
  display: grid;
  gap: 4%;
  font-family: "Telex", sans-serif;
}

.logIn h1 {
  font-family: "Telex", sans-serif;
  font-size: 200%;
  line-height: 136.5%;
  color: #4bc3fe;
}

.signUp h1 {
  font-family: "Telex", sans-serif;
  font-size: 200%;
  line-height: 136.5%;
  color: #4bc3fe;
}

.input {
  background: none;
  color: black;
  width: 90%;
  font-size: 1em;
  padding: 1%;
  border: none;
  outline: none;
  border-bottom: 1px solid #C4C4C4;
  font-family: "Telex", sans-serif;
}

.labels{
  color: #C4C4C4;
  cursor: pointer;
  font-size: 0.8em;
}

.signUp {
  display: none;
}
.signUpContent{
  display: grid;
  gap: 2%;
  font-family: "Telex", sans-serif;
}
.btnSignupLogin {
  background: #ffb624;
  color: #ffffff;
  width: 80%;
  height: 200%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 1px grey;
}
.btnGoogle {
  background: white;
  color: #444;
  width: 80%;
  height: 200%;
  border-radius: 8px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
}

.btnSig {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  width:30%;
  margin-top: -1%;
  text-align: left;
  font-size: 0.8em;
  color:#4bc3fe;
}

.btnSig:hover{
  color: #5f00ff;
}
.btnGoogle:hover{
  cursor:pointer;
}

.message{
  margin-top: 5%;
  font-size: 0.8em;
}

.messageSignUp{
  display: none;
  margin-top: 5%;
  font-size: 0.8em;
}

.messageLogIn{
  display: none;
  margin-top: 5%;
  font-size: 0.8em;
}

/*@media only screen and (min-width: 600px){
   For tablets: 
}*/

@media only screen and (min-width: 769px){
  /* For desktop: */
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "tabs space";
  }
  .logo{
    display: none;
  }
  .tabs {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
    grid-template-areas: "info tab";
  }
  .info{
    grid-area: info;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logoTab{
    width: 50%;
  }
  .lema{
    font-family: "Telex", sans-serif;
    color: #ffffff;
  }
  .containerSignUpLogIn {
    border-radius: 40px 0px 0px 40px;
  }
}